

body {
  min-width: 1190px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 33px;
  font-weight: normal;
  color: #000000;
  background-color: white;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main-container {
  position: relative;
  min-width: 1170px;
}

.navigation {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 30px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  transition-duration: 1.5s;
}

.navigation-portfolio {
  width: 100%;
  height: 70px;
  top: 30px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  padding-left: 50px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: #ffffff;
  display: flex;
}

.main-header-logo {
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 50px;
  margin-right: 50px;
}

.logo-wrapper {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #ffffff;
  padding-top: 10px;
}

.site-navigation li {
  margin: 0;
  padding: 0;
  padding-top: 17px;
}

.site-navigation a {
  text-transform: uppercase;
  margin-right: 30px;
  color: #000000;
}

.site-navigation a:hover {
  color: #e0392d;
}

.site-navigation :last-child a {
    margin-right: 50px;
}

.full-page-container {
  min-width: 1170px;
  height: 100vh;
  min-height: 768px;
  background-color: #ffffff;
  padding: 20px 20px 10px;
  box-sizing: border-box;
  overflow: hidden;
}

 .background-greeting-page {
  height: 100%;
  background-color: #ffffff;
  background-image: url("../img/me.svg"), url("../img/background-header.svg");
  background-size: auto 85%, auto 70%;
  background-position: bottom 20% left 30%, center bottom ;
  background-repeat: no-repeat;
  min-height: 700px;
  position: relative;
  border-radius: 10px;
}

.background-portfolio-container {
 height: 100%;
 min-height: 700px;
 position: relative;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 box-sizing: border-box;
}

.container {
  position: absolute;
  width: 1170px;
  padding: 0 10px;
  left: 50%;
  margin-left: -585px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.red-dot {
  color: #e0392d;
}

.greeting-page-wrapper {
  vertical-align: middle;
  margin-left: 500px;
  padding-right: 150px;
}

.greeting-page-wrapper h1 {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", Arial, sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 25px;
}

.greeting-page-wrapper p {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding-right: 250px;
  margin-bottom: 45px;
  color: #6b6a6a;
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #e0392d;
  text-transform: uppercase;
  padding: 15px 50px 15px 50px;
  border-radius: 50px;
}

.btn-lang {
  position: absolute;
  bottom: 50px;
  right: 50px;
  text-decoration: none;
  color: #000000;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.btn-lang:hover {
  text-decoration: underline;
}

.btn-last-work {
  position: relative;
  overflow: hidden;
}

.btn-last-work span {
  display: inline-block;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;

}

.btn-last-work:hover span {
  transform: translateX(-13px);
}

.btn-last-work::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-down-sort.svg");
  background-size: 16px auto;
  background-repeat: no-repeat;
  width: 25px;
  height: 27px;
  top: -20px;
  right: 25px;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.btn-last-work:hover::after {
  transform: translateY(44px);
}




.best-portfolio-container {
  background-color: white;
  padding: 10px 20px 0;
  box-sizing: border-box;
}

.best-portfolio-wrapper {
    /* overflow: hidden; */
    /* overflow-y: hidden; */
    position: relative;
    background-color: #ffffff;
}

.images-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 2100px;
  margin: 0 auto;
}

.image {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.image-container .image-1 {
  background-image: url("../portfolio/galactic jourey.jpg");
}

.image-container .image-2 {
  background-image: url("../portfolio/mountains.jpg");
}

.image-container .image-3 {
  background-image: url("../portfolio/sport club.jpg");
}

.image-container .image-4 {
  background-image: url("../portfolio/wall calendar.jpg");
}

.image-container .image-5 {
  background-image: url("../portfolio/alchemy.jpg");
}

.image-container .image-6 {
  background-image: url("../portfolio/panda-draw.jpg");
}

.portfolio-image:nth-child(2n-1) {
  flex-grow: 1;
  height: 300px;
  margin: 10px;
  background-color: red;
  max-width: 700px;
}

.portfolio-image:last-child {
  width: 30%;
  margin: 10px;
  background-color: red;
  margin-bottom: 100px;
}


.image-container {
  width: 700px;
  height: 500px;
  margin-right: 20px;
  position: relative;
}

.image-last-action {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 0;
  border-radius: 10px;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.image-container:hover .image-last-action {
  /* display: flex; */
  opacity: 1;

}

.image-1-action {

  background-color: rgba(148, 163, 10, 0.9);

}

.image-2-action {
  background-color: rgba(227, 90, 36, 0.9);
}

.image-3-action {
  background-color: rgba(25, 79, 103, 0.9);
}

.image-4-action {
  background-color: rgba(0, 105, 91, 0.9);
}

.image-5-action {
  background-color: rgba(35, 35, 35, 0.9);
}

.image-6-action {
  background-color: rgba(224, 57, 45, 0.9);
}

.tools {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 70px;
  display: flex;
  justify-content: flex-end;
}

.tools li {
    position: relative;
    background-repeat: no-repeat;
    padding-left: 10px;
    opacity: 0.7;
}

.photoshop {
  height: 70px;
  width: 70px;
  background-image: url("../img/photoshop.svg");
  background-size: 70px 70px;
}

.corel {
  height: 70px;
  width: 51px;
  background-image: url("../img/corel.svg");
  background-size: 70px 70px;
}

.images-container .image-container:nth-child(1),
.images-container .image-container:nth-child(4),
.images-container .image-container:nth-child(5) {
  flex-grow: 2;
  height: 500px;
}

.images-container .image-container:nth-child(2n) {
  margin-right: 0;
  flex-grow: 1;
}





/* .images-container .image-container:nth-child(3n) {
 margin-right: 0;
} */

.images-container .image-container {
  margin-bottom: 20px;
}

/* .wrapper-stick {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
} */

.portfolio-link {
  padding: 0 30px 15px;
  box-sizing: content-box;
  background-color: #ffffff;
}


.action-info-wrapper h2 {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", Arial, sans-serif;
  font-weight: 400;
  font-size: 44px;
  margin-bottom: 20px;
  color: #ffffff;
}


.action-info-wrapper p:nth-child(2) {
  margin: 0;
  padding: 0;
  font-size: 16px;
  margin-bottom: 20px;

  color: #e2ecf5;
}

.action-info-wrapper p:nth-child(3) {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 25px;
    color: #ffffff;
}

.btn-action {
  background-color: transparent;
  box-sizing: border-box;
  padding: 15px 35px 15px 35px;
  border: 2px solid #ffffff;

}

.background-portfolio {
  position: relative;
  height: 400px;
      background-image: url("../img/portfolio-screen.jpg");
  animation: stretching;
  animation-duration: 60s;
  animation-iteration-count: infinite;
    z-index: 1;
        padding-top: 160px;
          box-sizing: border-box;
            border-radius: 10px;
}

.background-portfolio .background-blue {

  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #e2ecf5;
  opacity: 0.86;
    border-radius: 10px;

}

.background-portfolio .btn-portfolio {
  display: block;
  width: 250px;
  box-sizing: border-box;
    text-align: center;
  background-color: #325577;
  margin: 0 auto;
  position: relative;
  z-index: 4;

}

.feedback {
    padding: 15px 30px 15px;
    box-sizing: content-box;
    background-color: #ffffff;
}

.background-feedback {
  height: 800px;
  min-height: 800px;
  /* width: 100%; */
  background-image: url("../img/feedback-back.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;

}

.background-feedback .container {
  width: 490px;
  text-align: center;
    margin-left: -245px;
}

.btn-feedback {
  width: 100px;
  margin: 0 auto;
}

.background-feedback h1 {
  margin: 0;
  padding: 0;
  /* font-family: "Exo 2", Arial, sans-serif; */
  font-family: "Comfortaa", Arial, sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 15px;
  /* word-spacing: 4px; */
}

.background-feedback p {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #6b6a6a;
    margin-bottom: 45px;
}

.social {
    padding: 15px 30px 15px;
    box-sizing: content-box;
    /* background-color: #ff2fff; */
}

.social-container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social-container li {
  flex-grow: 1;
    margin: 0 10px;
}

.social-container li:first-child {
  margin-left: 0;
}

.social-container li:last-child {
  margin-right: 0;
}

.social-btn {
  display: block;
}

.main-footer {
  padding: 15px 30px 15px;
  box-sizing: content-box;

}

.footer-container {
  background-color: #232323;
  height: 200px;
  border-radius: 10px;
}

.tabs-filter-checkbox {
  top: 0;
  left: 0;
  position: relative;
  background-color: red;
  margin-right: 20px;
  z-index: 8;
}

 .tab-label {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  z-index: 10;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
    transition-duration: 0.5s;
    transition-property: width, background-color;
        box-sizing: border-box;


}

#tab-vector + .tab-label {
  background-color: rgba(224, 57, 45, 0.5);
}

#tab-vector + .tab-label:hover {
  background-color: rgba(224, 57, 45, 1);
  padding-left: 85px;
  padding-top: 22px;
  width: 170px;
}

#tab-vector:checked + .tab-label {
  background-color: rgba(224, 57, 45, 1);
}

#tab-vector + .tab-label::before {
 content: "";
 position: absolute;
 top: 17px;
 left: 15px;
 width: 50px;
 height: 42px;
 background-image: url("../img/vector-icon.svg");
 background-repeat: no-repeat;
}

#tab-raster + .tab-label {
  background-color: rgba(148, 163, 10, 0.5);
}

#tab-raster + .tab-label:hover {
  background-color: rgba(148, 163, 10, 1);
  padding-left: 85px;
  padding-top: 17px;
      width: 210px;
}

#tab-raster:checked + .tab-label {
  background-color: rgba(148, 163, 10, 1);
}

#tab-raster + .tab-label::before {
 content: "";
 position: absolute;
 top: 19px;
 left: 15px;
 width: 50px;
 height: 39px;
 background-image: url("../img/raster-icon.svg");
 background-repeat: no-repeat;
}

.tab-name {
  opacity: 0;


}

 .tab-label:hover .tab-name {

    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    display: inline-block;
      opacity: 1;
         transition-delay: 0.1s;
         transition-duration: 0.1s;



}


.portfolio-container {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  /* background-color: green; */
  display: flex;
  align-content:flex-start;
  flex-wrap: wrap;
  overflow: auto;
   padding-left: 90px;
       z-index: 5;
}

.portfolio-image {
  width: 25%;
  height: 300px;
  margin: 10px;
  background-color: red;
  display: none;
  /* max-width: 400px; */
}

#tab-vector:checked~.portfolio-container>.vector {
  display: block;
}

#tab-raster:checked~.portfolio-container>.raster {
  display: block;
  background-color: blue;
}




@keyframes stretching {
  0% {
    background-position: bottom;
  }
  50% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

.typed-cursor {
  opacity: 1;
  font-weight: 200;
  animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
