.temporary-block {
  height: 40vh;
  min-height: 700px;
  background-color: #ffffff;
  background-color: gray;

  box-sizing: border-box;
  overflow: hidden;
  max-height: 1280px;
  position: relative;
  border-radius: 20px;
  padding-bottom: 40px;
  bottom: 20px;
}

.temporary-block__container {
  background-color: red;
}


.temporary-block__image {
  background-image: url('../img/broken-wall.svg'),
                    url('../img/broken-wall-back.jpg');
  background-size: cover, auto 100%;
  background-repeat: no-repeat, repeat-y;
  background-attachment: local, scroll;
  background-position: center, 200px 200px;
  width: 450px;
  height: 317px;
}
