.main-block {
  height: 100vh;
  min-height: 700px;
  background-color: #ffffff;


  box-sizing: border-box;
  overflow: hidden;
  max-height: 1280px;
  position: relative;
  border-radius: 20px;
  padding-bottom: 40px;
  bottom: 20px;
}

.main-block__background {
  position: absolute;
  // bottom: -5px;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.main-block__background-image {
  position: relative;
  transform: translateY(400px);
  // top: 50%;
  // transform: translateY(-50%);
}

.main-block__me-container {
  height: 100%;
  position: relative;
  // right: 40px;

  vertical-align: middle;
}

.main-block__me-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main-block__greeting {
  padding-left: 40px;
}

.main-block__greeting-title {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", Arial, sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 25px;
}

.main-block__greeting-text {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding-right: 250px;
  margin-bottom: 45px;
  color: #6b6a6a;
}


.main-block__btn-lang {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: #000000;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  opacity: 0.7;
  z-index: 1;

  &:hover {
    opacity: 1;
  }
}

.main-block__sun-night::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/sun-night.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 56px;
  height: 28px;
  left: 50px;
  bottom: 50px;
  opacity: 0.7;
  z-index: 2;
}



.main-block__sun-night:hover::before {
  opacity: 1;
  cursor: pointer;
}

.main-block__night-switch:checked + .main-block__sun-night::before {
  background-position: 0 -29px;
}

.main-block--night,
.main-container--night,
.main-block__container--night {
  background-color: #2C4860;
}

.main-block__background--night {
  filter: brightness(60%);
}
