.page-header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-duration: 1.5s;
  padding: 20px 40px 20px 40px;
}

.page-header__site-list {
  .clear-style();
  display: flex;
}

.page-header__site-list li {
  .clear-style();
  display: flex;
  align-items: center;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.page-header__site-list a {
  text-transform: uppercase;
  color: #000000;
  opacity: 0.8;

  &:hover {
    // color: #e0392d;
    opacity: 1;
  }
}

.page-header__site-list--night a {
  color: white;
}

.site-list__item--current a {
  color: #e0392d;
  opacity: 1;
}

.page_header__logo {
  opacity: 0.8;

  &:hover{
    opacity: 1;
  }

  &--night {
    fill: white;
  }
}
