.page-header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-duration: 1.5s;
  // border-bottom: 1px solid red;

  padding: 20px 40px 20px 40px;
}

.page-header__site-list {
  .clear-style();
  display: flex;
}

.page-header__site-list li {
  .clear-style();
  display: flex;
  align-items: center;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.page-header__site-list a {
  text-transform: uppercase;
  color: #000000;

  &:hover {
    color: #e0392d;
  }
}

.site-list__item--current a {
  color: #e0392d;
}

.page_header__logo:hover {
  opacity: 0.7;
}
