
.page-header__site-list {
  .clear-style();
  display: flex;
  justify-content: center;
  // width: 490px;
}

.site-list__item {
  .clear-style();
  // display: flex;
  // align-items: center;
  margin-right: 40px;


  &:last-child {
    margin-right: 0;
  }
}

.page-header__nav {
  background-color: white;
  top: 0;
  right: 0;
  position: fixed;
  padding-right: 40px;
  padding-top: 40px;
  padding-left: 60px;
  padding-bottom: 40px;
  border-bottom-left-radius: 20px;
  z-index: 40;
  transition: top 1s;
  // min-width: 490px;
}

// .page-header__nav--closed .page-header__toggle:active::before {
//   background-color: rgba(255, 255, 255, 0.3);
//   box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
// }

.page_header__logo {
  // margin-left: 40px;
  position: fixed;
  top: 30px;
  left: 40px;
  z-index: 30;

  // &::before {
  //   position: absolute;
  //   content: '';
  //   display: block;
  //   width: 85px;
  //   height: 85px;
  //   top: -20px;
  //   left: -7px;
  //   border-radius: 50%;
  //   z-index: 14;
  //   background-color: white;
  // }
}

.page_header__logo-circle {
    position: absolute;
    // content: '';
    display: block;
    width: 90px;
    height: 90px;
    // top: -23px;
    // left: -10px;
    // border-radius: 50%;
    top: -30px;
    left: 0;
    padding-top: 16px;
    padding-left: 20px;
    border-bottom-right-radius: 20px;
    z-index: 14;
    background-color: white;
}

.page__logo-img {
  position: relative;
  z-index: 15;
  opacity: 0.8;
  width: 70px;
  height: 45px;

  &:hover{
    opacity: 1;
  }
}

.page-header__site-list a {
  text-transform: uppercase;
  color: #000000;
  opacity: 0.8;

  &:hover {
    // color: #e0392d;
    opacity: 1;
  }
}

.page-header__site-list--night a {
  color: white;
}

.site-list__item--current a {
  color: #e0392d;
  opacity: 1;

  &--night {
    fill: white;
  }
}

.page-header__toggle {
  display: none;
}



@media (max-width: @tablet-width) {
  .page_header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
  }


  .page__logo-img {
    width: 200px;
    height: 200px;
  }

  .page-header__nav {
    left: 50%;
    transform: translateX(-50%);
    padding-left: 40px;
    border-bottom-right-radius: 20px;
  }
}

@media (max-width: @mobile-width) {
  .page_header__logo {
    top: 150px;
  }

  .page__logo-img {
    width: 200px;
    height: 70px;
  }

  .page-header__nav {
    top: 0;
    position: fixed;
    padding: 0;
    border-radius: 0;
    width: 100%;
    top: -250px;
  }

  .page-header__site-list {
    .clear-style();
    // display: flex;
    // flex-direction: column;
    display: block;
    // align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .site-list__item {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }


  .page-header__toggle {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 42;

    display: block;
    width: 70px;
    height: 50px;

    // background-color: #6a4d38;

    cursor: pointer;
    border: none;
    background-color: white;

    // &:hover,
    // &:active {
    //   background-color: #624530;
    // }
  }

  .page-header--mobile-closed .page-header__toggle::before {
    content: "";

    position: absolute;
    top: 15px;
    left: 17px;

    width: 36px;
    height: 2px;

    background-color: black;
    box-shadow: 0 8px 0 0 black, 0 16px 0 0 black;
  }


  .page-header--mobile-closed .page-header__nav {
    top: -250px;
  }

  .page-header--mobile-opened .page-header__nav {
    top: 0;
  }

  .page-header--mobile-opened .page-header__toggle {
  right: auto;
  top: 0;
  right: 0;
  z-index: 45;


  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 24px;
    left: 18px;

    width: 36px;
    height: 2px;

    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}


}
